
@{
    ViewBag.Title = "PhimSapChieu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/mystyle/stylepro.css" rel="stylesheet" />
<h2>Phim sắp chiếu</h2>
<div id="div-pro-list">
    <div class="box-pro">
        <img class="size-img" src="~/Images/bocchi.jpg" style="width:200px;height:240px" />
        <div class="box-description">
            <button type="button" class="btnBuy">Mua vé</button>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/evangelion.jpg" style="width:200px;height:240px" />
        <div class="box-description">
            <button type="button" class="btnBuy">Mua vé</button>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/latmat.jpg" style="width:200px;height:240px" />
        <div class="box-description">
            <button type="button" class="btnBuy">Mua vé</button>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/mha3_poster_12_1_.jpg" style="width:200px;height:240px" />
        <div class="box-description">
            <button type="button" class="btnBuy">Mua vé</button>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/onepiece.jpg" style="width:200px;height:240px" />
        <div class="box-description">
            <button type="button" class="btnBuy">Mua vé</button>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/spiderman.jpg" style="width:200px;height:240px" />
        <div class="box-description">
            <button type="button" class="btnBuy">Mua vé</button>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/joker-folie-duex-500_1725002156768.jpg" style="width:200px;height:240px" />
        <div class="box-description">
            <button type="button" class="btnBuy">Mua vé</button>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/grave-of-the-fireflies-3_1727162116767.jpg" style="width:200px;height:240px" />
        <div class="box-description">
            <button type="button" class="btnBuy">Mua vé</button>
        </div>
    </div>
</div>

