<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/mystyle/mystyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div id="div-top">
        <div class="top-header-right">
            <span>
                <span class="fm-a" style="margin:6px;color:orangered">
                    <a href="#"class="a">Đăng nhập</a>
                </span>
            </span>
            <span>
            
                    ||
            </span>
            <span>
                <span a href="#" class="fm-a"style="margin:6px;color:orangered">
                    <a href="#"class="a">
                        Đăng ký
                    </a>
                </span>
            </span>
        </div>
        <div class="second-header-menu">
            <a href="#" style="margin:15px;padding:15px;color:orangered">
                <i class="fas fa-video"></i>
                Movie
            </a>
            <a href="#" style="margin:15px;padding:15px;color:orangered ">
                <i class="fas fa-calendar-week"></i>
                Thể loại
            </a>
            <a href="#" style=" margin:15px;padding:15px;color:orangered ">
                <i class="fas fa-percent"></i>
                Ưu đãi
            </a>
            <a href="#" style="margin:15px;padding:15px;color:orangered ">
                <i class="fas fa-ticket-alt"></i>
                Vé của tôi
            </a>
            <a href="#" style="margin:15px;padding:15px;color:orangered ">
                <i class="fas fa-film"></i>
                Cụm Rạp
            </a>
            <a href="#" style="margin:15px;padding:15px;color:orangered ">
                <i class="fas fa-phone"></i>
                Liên hệ
            </a>
        </div>
    </div>
    <div id="div-main">
        <div id="div-center">
            @RenderBody()
        </div>
    </div>
    <div id="div-footer">
        <br/>Chăm sóc khách hàng
        <br/>Hotline: 1900-6017
        <br/>Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết)
        <br />Email hỗ trợ: hoidap@rapphim.vn
    </div>
</body>
</html>