body {
    margin: 0;
}

#div-top {
    height: auto;
    background-color: #343a40
}

#div-main {
    display: flex;
    flex-direction: row;
}

#div-center {
    text-align: center;
    background-image: url('../../images/assortment-cinema-elements-red-background-with-copy-space.jpg');
}
#div-footer {
    height: auto;
    background-color: burlywood;
    bottom: 0px;
    text-align: center;
    left: 50%;
    padding-top: 25px;
}
.top-header-right {
    float: right;
    width: auto;
    font-size: 30px;
    background-color: #343a40;
    color:orangered;
}
.a{
    text-decoration: none;
    color: orangered;
    font-size:20px;
}
